.onboarding-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.dot-purple {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6750a4;
  margin: 0 5px;
}

.dot-grey {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin: 0 5px;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boarding-img-1 {
  width: 200px;
  height: auto;
}
